<% layout('layout') -%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <h1><%= title %></h1>
        <ol>
            <% _.each(items, function(topC) { %>
            <h1><%= topC.page_title %></h1>
            <%}); %>
				<% _.each(categories, function(topC) { %>
                        <li>

                            <h1><%= topC.name %></h1>
                            <p><%= topC.page_description %></p>
                            
                            <% if (topC.image) { %>
								<div>
									<img class="img-responsive" src="/images/<%= topC.image%>">
								</div>
                            <% } %>
                            
                        </li>
						<a href="/home/<%= topC.parent_category_id %>/<%= topC.id %>" class="btn btn-danger" role="button">View products</a>
                        <% }); %>
						
                    </ol>
    </body>
</html>