<% layout('layout') -%>

<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
   <body> 


					<% _.each(products	, function(topC) { %>
						<li class="col-sm-6 col-md-4">
                        
                        
                        <div class="thumbnail">
						<h2><%= topC.name %></h2>
						<p><%= topC.short_description %></p>
						
						<p>PRICE: $<%= topC.price %></p>
						
                        <% if (topC.image) { %>
                            <div>
                                <img class="img-responsive" src="/images/<%= topC.image%>">
                            </div>
                        
					<% } %>
				<a href="" class="btn btn-primary" role="button">View </a>
					</div>
					</li>
					<%}); %>
					
					
					
</body>
    

</head>