
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
   <body> 
		<% _.each(items, function(topC) { %>
						<h1><%= topC.name %></h1>
						<p><%= topC.short_description %></p>
						<p><%= topC.price %></p>
					
						
					
		<%}); %>
	</body>
</html>