<ol>
                        <% _.each(items, function(topC) { %>
                        <li>
                            <h1><%= topC.name %></h1>
                            <p><%= topC.page_description %></p>
                            <a href="<%= topC.id %>" role="button" class="btn btn-default view-products">View products</a>
                        </li>
                        <% }); %>
                    </ol>