<% layout('layout') -%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
   <body> 
    
        <h1><%= title %></h1>
        <ol>
            <% _.each(items, function(topC) { %>
            
            <%}); %>
				<% _.each(items, function(topC) { %>
                    
                <% }); %>
					<% _.each(subcategories	, function(topC) { %>
						<h1><%= topC.name %></h1>
						<p><%= topC.page_description %></p>
						
                        <% if (topC.image) { %>
                            <div>
                                <img class="img-responsive" src="/images/<%= topC.image%>">
                            </div>
                        
					<% } %>
					<a href="/home/<%= topC.category_id %>/<%= topC.parent_category_id %>/<%= topC.id %>" class="btn btn-danger" role="button">View Products</a>
					<%}); %>
        </ol>
    </body>
    

</head>