
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span
                      class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/home" class="navbar-brand">SHOP</a></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/home/mens">Mens</a></li>
                <li><a href="/home/womens">Womens</a></li>
            </ul>
        </div>
    </div>
</div>
