body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body ol{
  list-style-type: none;
  text-align: left;
}
li {
list-style-type : none;
}
.thumbnail {
    height: 290px;
    position: relative;
}
.starter-template {
margin: 20px 0 0;
}